# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
CTestCustom.cmake
.cache/
*_autogen/
*.cbp
*.opensdf
*.sdf
*.suo
*.user
*.useros
*.userprefs
*.userproject
Makefile
*.ninja
build/
cmake-build-*/
install_manifest.txt
*.swp
*.swo